/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}      
/*------ banner styles---- 
---------start---------*/
h1{
    font-size: 64px;
    color: #FFFFFF;
}
.top-banner-containe{
    display: flex;
    padding-left: 156px;
    padding-top: 153px;
    padding-bottom: 86px;
}
.half-width{
    width: 40%;
}
.half-width img{
    width: 556.01px;
}
.link-button{
    text-decoration:none;
    background-color:  #E02C6D;;
    padding: 10px 24px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
/*---- icon styles---- */
.fas{
    width: 24px;
    margin: 0px 8px;
    
}
.top-banner{
    background-color: #2D25A0;
    width: 1340px;
    height: 677px;
    
}
/* -----animation using transition and transform----- */
.football{
    transition: transform 3s;
}

.top-banner:hover .football {
    transform: rotate(-360deg);
    transform-origin: center;
}
/*---- player blogs and info styles------
--------start--------------------------- */

.container{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background-color: #FFFFFF;
}
.blogs{
    background-color: #FFFFFF;
}
.player-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.player{
    border: 1px solid ,lightgray;
    width: 330px;
    height: 474px;
    padding-left: 30px;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px gray;
}
.player img{
    width: 300px;
    height: 256px;
}

/* --------footer styles ---
-----------------------------*/
footer{
    text-align: center;
}
.all-footer{
    padding-top: 158px;

}
    
.logo img{
    width: 483.87px;
    height: 110px;
}
.fab{
    margin: 0px 14px;
    width: 32px;
}
/*------- Media Queries-----
------------------------- */
/* ------Mobile devices---
------------------------ */
@media only screen and (max-width:688px) {
     .blogs{
         width: 100%;
     }
    .player-blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .container, .top-banner-containe{
        flex-direction: column;
        
    }
    
    


}